@{
    ViewBag.Title = "Home Page";
}



<div class="row" ng-app="BookEntry" ng-controller="BookCntrl">
    <div class="col-md-12">
        <h2>BOOKS</h2>
        <button ng-show="!AddVissible&&!EditVisible" ng-click="Add()" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add A Item</button>

        <hr />
        <div ng-show="AddVissible">
            <div class="form-group"><label>Title</label><input type="text" placeholder="Title" ng-model="NewObj.Title" class="form-control" required/></div>
            
            
            <div class="form-group"><label>Author</label> <input type="text" placeholder="Author" ng-model="NewObj.Author"  class="form-control" required/></div>
            <div class="form-group"><label>Publisher</label><input type="text" placeholder="Publisher" ng-model="NewObj.publisher"  class="form-control" required /></div>
            <div class="form-group"><label>ISBN</label> <input type="text" placeholder="ISBN" ng-model="NewObj.Isbn"  class="form-control" required/></div>
            <div class="form-group">
                <button ng-click="AddHide()" class="btn btn-success pull-right">Cancel</button> 
                <span></span>
                <button ng-click="Save()" class="btn btn-success pull-right">Save</button>
               
            </div>
        </div>
        <div ng-show="EditVisible">
            
            <div class="form-group"><input class="form-control" type="text" placeholder="Title" ng-model="Selected.Title" /></div>
            <div class="form-group" > <input class="form-control" type="text" ng-model="Selected.Author" /></div>
            <div class="form-group"><input class="form-control" type="text" ng-model="Selected.publisher" /></div>
            <div class="form-group"><input class="form-control" type="text" ng-model="Selected.Isbn" /></div>
            <button ng-click="SaveChanges()" class="btn btn-success">Save</button>
            <button ng-click="EditHide()" class="btn btn-success">Cancel</button>
        </div>


        <table class="table table-condensed" ng-show="!AddVissible&&!EditVisible">
            
            <tr>
                <th>ID</th><th>Name</th><th>Author</th><th>Publisher</th><th>ISBN</th><th></th>
            </tr>
            <tr ng-repeat="item in List">
                <td>{{item.ID}}</td>
                <td>{{item.Title}}</td>
                <td>{{item.Author}}</td>
                <td>{{item.publisher}}</td>
                <td>{{item.Isbn}}</td>
                <td><button ng-click="Edit(item)" class="btn btn-success">Edit</button><button class="btn btn-success" ng-click="Delete(item.ID)">Delete</button></td>
            </tr>
        </table>


      
    </div>
   
</div>
@section scripts{
    
<script src="~/Scripts/angular.min.js"></script>
    
<script src="~/Scripts/app/BookApp.js"></script>
    }