@{
    ViewBag.Title = "Home Page";
}



<div class="row" ng-app="BookEntry" ng-controller="BookCntrl">
    <div class="col-md-12">
        <h2>BOOKS</h2>
        <div ng-show="AddVissible">
            <input type="text" placeholder="Title" ng-model="NewObj.Title"/>
            <input type="text" ng-model="NewObj.Author"/>
            <input type="text" ng-model="NewObj.publisher"/>
            <input type="text" ng-model="NewObj.Isbn"/>
            <button ng-click="Save()">Save</button>
            <button ng-click="AddHide()">Cancel</button>
        </div>
        <div ng-show="EditVisible">
            <input type="text" placeholder="Title" ng-model="Selected.Title" />
            <input type="text" ng-model="Selected.Author" />
            <input type="text" ng-model="Selected.publisher" />
            <input type="text" ng-model="Selected.Isbn" />
            <button ng-click="SaveChanges()">Save</button>
            <button ng-click="EditHide()">Cancel</button>
        </div>


        <table class="table" ng-show="!AddVissible&&!EditVisible">
            <tr>
                <td>ID</td><td>Name</td><td>Author</td><td>Publisher</td><td>ISBN</td><td>Action <button ng-click="Add()">Add A Item</button></td>
            </tr>
            <tr ng-repeat="item in List">
                <td>{{item.ID}}</td>
                <td>{{item.Title}}</td>
                <td>{{item.Author}}</td>
                <td>{{item.publisher}}</td>
                <td>{{item.Isbn}}</td>
                <td><button ng-click="Edit(item)">Edit</button><button ng-click="Delete(item.ID)">Delete</button></td>
            </tr>
        </table>


      
    </div>
   
</div>
@section scripts{
    
<script src="~/Scripts/angular.min.js"></script>
    
<script src="~/Scripts/app/BookApp.js"></script>
    }